*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

main {
  margin-bottom: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 32px;
}

.game-container {
  display: flex;
  gap: 32px;
}

.game-container__board {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.game-container__grid,
.start-section__start-grid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  cursor: pointer;
}

.game-container__row,
.start-section__row {
  flex: 1;
  display: flex;
}

.game-container__cell,
.start-section__cell {
  flex: 1;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container__cell.green {
  background-color: green;
}

.game-container__cell.red {
  color: red;
  font-size: 24px;
  font-weight: 700;
}

.game-container__cell.hit {
  background-color: green;
  color: red;
  font-size: 32px;
  font-weight: 700;
}

.game-container__player {
  color: blue;
  font-size: larger;
  font-weight: 600;
}

.game-control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-control-panel__displayer {
  font-size: 48px;
  font-weight: 700;
  margin-block: 16px;
}

.game-control-panel__restart-btn {
  border: 0;
  padding: 10px 16px;
  background-color: blue;
  color: white;
  border-radius: 12px;
  font-size: 28px;
  cursor: pointer;
}

.game-control-panel__restart-btn:is(:focus, :hover) {
  opacity: 0.9;
}

.start-section {
  font-size: 28px;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.start-section__ship-options {
  border: 5px solid blue;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.start-section__ship-options > div {
  background-color: green;
  height: 40px;
  cursor: grab;
}

.start-section__currier {
  width: 200px;
}

.start-section__battleship {
  width: 160px;
}

.start-section__destroyer {
  width: 120px;
}

.start-section__submarine {
  width: 80px;
}

.start-section__patrol-boat {
  width: 40px;
}

.start-section__rotate-btn,
.start-section__start-btn {
  border: 0;
  background-color: blue;
  color: white;
  font-size: 20px;
  padding: 12px 24px;
  border-radius: 12px;
  cursor: pointer;
}

.start-section__start-grid {
  border: 2px solid white;
}

.start-section__cell {
  border: 1px solid white;
}

footer {
  padding: 32px;
}
