@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Navy-Blue: #001f3f;
  --Light-Gray: #f8f8f8;
  --Fire-Brick-Red: #b22222;
  --White: #ffffff;
  --Forest-Green: #228b22;
  --Light-Coral: #f08080;
}

body {
  /* min-height: 100dvh; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: var(--Light-Gray);
  color: var(--Navy-Blue);
  font-family: 'Oswald', 'sans-serif';
}

main {
  margin-bottom: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 32px;
}

.game-container {
  display: flex;
  gap: 32px;
}

.game-container__board {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.game-container__board--two {
  position: relative;
}

.game-container__start-play-container {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.9);
  z-index: 99;
  padding: 32px;
  width: 100%;
  height: 92%;
  font-size: 28px;
  font-weight: 600;
  color: inherit;
}

.game-container__start-display {
  margin-bottom: 16px;
}

.game-container__grid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: var(--Navy-Blue);
  border: 2px solid var(--Light-Gray);
  cursor: pointer;
}

.game-container__row,
.start-section__row {
  flex: 1;
  display: flex;
}

.game-container__cell {
  flex: 1;
  border: 1px solid var(--Light-Gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container__cell.green {
  background-color: var(--Forest-Green);
}

.game-container__cell.missed {
  background-color: var(--Light-Coral);
}

.game-container__cell.hit {
  background-color: var(--Fire-Brick-Red);
}

.game-container__player {
  color: var(--Navy-Blue);
  font-size: larger;
  font-weight: 600;
}

.game-control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-control-panel__displayer {
  font-size: 36px;
  font-weight: 700;
  margin-block: 16px;
}

.game-control-panel__restart-btn,
.game-container__play-btn {
  border: 0;
  padding: 10px 16px;
  min-width: 100px;
  background-color: var(--Navy-Blue);
  color: var(--White);
  border-radius: 12px;
  font-size: 22px;
  font-family: inherit;
  cursor: pointer;
  margin-bottom: 16px;
}

.game-control-panel__restart-btn:is(:focus, :hover),
.start-section__rotate-btn:is(:focus, :hover),
.game-container__play-btn:is(:focus, :hover) {
  opacity: 0.9;
}

.start-section {
  font-size: 28px;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.start-section__ship-options {
  border: 5px solid var(--Navy-Blue);
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
  gap: 8px;
  min-width: 150px;
  min-height: 40px;
}
.start-section__ship-options > div {
  background-color: var(--Forest-Green);
  height: 40px;
  cursor: grab;
}

.start-section__currier {
  width: 200px;
}

.start-section__battleship {
  width: 160px;
}

.start-section__destroyer {
  width: 120px;
}

.start-section__submarine {
  width: 80px;
}

.start-section__patrol-boat {
  width: 40px;
}

.start-section__rotate-btn {
  border: 0;
  max-width: 100px;
  background-color: var(--Navy-Blue);
  color: var(--White);
  font-size: 22px;
  font-family: inherit;
  padding: 12px 24px;
  border-radius: 12px;
  cursor: pointer;
}

footer {
  padding: 32px;
  font-size: 20px;
  align-self: stretch;
  text-align: center;
  background-color: var(--Navy-Blue);
  color: var(--White);
}

footer a {
  text-decoration: none;
  color: var(--White);
}

footer a:is(:focus, :hover) {
  text-decoration: underline;
}

.hidden {
  display: none;
}

@media (width < 900px) {
  main {
    padding: 8px;
  }
  .game-container {
    flex-direction: column;
  }
}

@media (width < 500px) {
  .game-container__board {
    width: 350px;
  }
  .game-container__grid {
    width: 350px;
    height: 350px;
  }
  .start-section__ship-options > div {
    height: 35px;
  }

  .start-section__currier {
    width: 175px;
  }

  .start-section__battleship {
    width: 140px;
  }

  .start-section__destroyer {
    width: 105px;
  }

  .start-section__submarine {
    width: 70px;
  }

  .start-section__patrol-boat {
    width: 35px;
  }
}
